<font color="Teal" face="Comic Sans MS,arial">
  <h1 align="center"><i> Operadores ariméticos y de comparación</i></h1>
  </font>
  
> Elaborado por: Jesús Iván Coss Calderón. mat_ing_coss@ciencias.unam.mx

**Objetivo general**

* Aprender los fundamentos del lenguaje de programación python.

**Objetivos particulares**

* Que el estudiante aprenda los principios básicos de la programación estructurada y orientada a objetos

<a name='c1'></a>

## Contenido

- [Operadores aritméticos](#1)
    - [Suma](#1-1)
    - [Resta](#1-2)
    - [Multiplicación](#1-3)
    - [División](#1-4)
    - [División Entera](#1-5)
    - [Módulo](#1-6)
    - [Potencia](#1-7)
- [Tipos de datos](#2)
    - [Complejos](#2-1)
- [Casteo de variables](#3)
- [Comparaciones](#4)
- [Funciones predefinidas](#5)

<a name='1'></a>

# Operadores ariméticos
[regresar al contenido](#c1)


En python se tienen las operaciones elementales del arimética, la suma, la multiplicación y división, las cuales podemos calcular de la siguiente manera.

<a name='1-1'></a>

# Suma
[regresar al contenido](#c1)

Suma (+): Suma dos valores.

In [2]:
resultado = 5 + 3  # resultado es 8
resultado

8

<a name='1-2'></a>

# Resta
[regresar al contenido](#c1)

Resta (-): Resta el segundo valor del primero

In [11]:
resultado = 10 - 4  # resultado es 6
resultado

6

<a name='1-3'></a>

# Multiplicación
[regresar al contenido](#c1)

Multiplicación (*): Multiplica dos valores

In [12]:
resultado = 3 * 7  # resultado es 21
resultado

21

<a name='1-4'></a>

# División
[regresar al contenido](#c1)

División (/): Divide el primer valor por el segundo. Siempre produce un resultado de punto flotante

In [13]:
resultado = 15 / 3  # resultado es 5.0
resultado

5.0

<a name='1-5'></a>

# División Entera
[regresar al contenido](#c1)

División Entera (//): Divide el primer valor por el segundo y redondea el resultado hacia abajo al número entero más cercano.

In [14]:
resultado = 15 // 4  # resultado es 3
resultado

3

<a name='1-6'></a>

# Módulo
[regresar al contenido](#c1)

Módulo (%): Devuelve el residuo de la división del primer valor por el segundo.

In [15]:
resultado = 15 % 4  # resultado es 3
resultado

3

<a name='1-7'></a>

# Potencia
[regresar al contenido](#c1)

Potencia ():** Eleva el primer valor a la potencia del segundo valor.

In [16]:
resultado = 2 ** 3  # resultado es 8
resultado

8

<a name='2'></a>

# Tipos de datos
[regresar al contenido](#c1)

En los lenguajes de programación, se tiene de manera estándar cuatro tipos de variable: entero, flotante, caracter y boleano

In [38]:
entero=5
print('el tipo de dato de %d es %s'%(entero,type(5)))
flotante=5.0
print('el tipo de dato de %f es  %s'%(flotante,type(5.0)))
cadena="5"
print('el tipo de dato de %s es %s'%(cadena,type("5")))
boleano=True
print("el tipo de dato de %r es %s"%(boleano,type(True)))

el tipo de dato de 5 es <class 'int'>
el tipo de dato de 5.000000 es  <class 'float'>
el tipo de dato de 5 es <class 'str'>
el tipo de dato de True es <class 'bool'>

<a name='2-1'></a>

# Complejos
[regresar al contenido](#c1)

Un dato muy usado es aquél que representa al número complejo, el cual se declara de la siguiente manera:

In [44]:
complejo = 1.2 + 5.0j
type(complejo)

complex

<a name='3'></a>

# Casteo de variables
[regresar al contenido](#c1)

En ocasiones cuando nos encontramos programando necesitamos realizar una pequeña transformación a la variables para poder operarlas con el criterio que necesitemos, el casteo es dicha transformación y para cada variable se hace de manera diferente, a continuación se muestran los comandos en python para castear variables.

In [6]:
print(" de flotante %f a entero %d \n"%(2.579,int(2.579)))

print(" de entero %d a flotante %f \n"%(2,float(2)))

print(" de flotante %f a cadena %s \n"%(2.5,str(2.5)))

print(" de cadena %s a flotante %f  \n"%("5",float("5")))

 de flotante 2.579000 a entero 2

 de entero 2 a flotante 2.000000

 de flotante 2.500000 a cadena 2.5

 de cadena 5 a flotante 5.000000

<a name='4'></a>

# Comparaciones
[regresar al contenido](#c1)

En python, al igual que en otros lenguajes se tiene la manera de comparar dos números, arrays, a continuación se presenta un tabla con los comparativos.

| Operación. | Símbolo. |
| :-:  | :-: |
Igual a (comparación)| == |
Distinto de (comparación)| != o <>|
Mayor que, Menor que| >, <|
Mayor o igual, Menor o igual| >=, =<|
y, o |and, or|
cierto, falso| True,False|

En el siguiente fragmento de código se compara si el número 8 es mayor a 5.

In [45]:
resultado = 8 > 5
print(resultado)

True

En el siguiente bloque se añade el operador lógico " or "  se cumple cuando alguna de las proposiciones es verdadera, también se hacen comparaciones de mayor que en el siguiente renglón.

In [46]:
resultado = (4 > 8) or (3 > 2)
print(resultado)

True

El operador lógico " and " se cumple cuando ambas condiciones son verdaderas.

In [47]:
resultado = True and False
print(resultado)

False

In [48]:
resultado = (4 > 8) and (3 > 2)
print(resultado)

False

El comparativo " != " denota que dos valores son distintos.

In [49]:
resultado= (5!=1)
print(resultado)

True

Por último el comparativo de igualdad de denota " == "

In [51]:
resultado= (5==round(5.2))
print(resultado)

True

<a name='5'></a>

# Funciones predefinidas
[regresar al contenido](#c1)

In [8]:
abs(-3) # saca el valor absoluto

3

In [9]:
round(2.1451, 2) # redondea a dos decimales

2.15

In [13]:
"Hola" + " " + "clase" # sumar cadenas es concatenarlas.

'Hola clase'

In [16]:
print("Hola clase") # aqui se muestra la concatenación

Hola clase